<section class=" text-white">
	<div class="mx-auto max-w-3xl text-center">
		<h2 class="text-3xl font-bold sm:text-4xl pt-6 pb-3">Expériences professionnelles</h2>
		{% for work in cv.work %}
			<article class="rounded-xl bg-gradient-to-r from-indigo-400 via-purple-400 to-purple-800 p-0.5 mx-10 sm:mx-4 mt-4">
				<div class="rounded-[10px] bg-gray-200 p-4 dark:bg-gray-900 sm:p-6">
					<p class="block text-sm text-gray-500 dark:text-gray-400">
						{{ work.startDate }}
						à
						{{ work.endDate }}
					</p>
					<h3 class="mt-0.5 text-xl font-medium text-gray-900 dark:text-white">
						{{ work.position }}
						-
						{{ work.name }}
					</h3>
                    <p class="block text-base text-gray-600 dark:text-gray-300">
                        {{ work.summary }}
                    </p>
				</div>
			</article>
		{% endfor %}
	</div>
</section>
